{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load my_extras %}

{% block content %}
<div class="py-5" style=" background-image: url('/static/images/bg_4.jpg');background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <form method="GET">
            <div class="row p-5 rounded" style="background-color: #dddddd">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    {{ hFilter.form.title_filter | as_crispy_field }}
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div id="div_id_address" class="form-group">
                        <label for="id_address" class="">
                            {% trans "Address" %}
                        </label>
                        <div class="">
                            <select name="address" class="select form-control" id="id_address">
                                <option value="" selected="">---------</option>
                                {% if addresses %}
                                    {% for object in addresses %}
                                        <option value="{{object.id}}">{{object}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    {{ hFilter.form.number_filter_gte | as_crispy_field }}
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">

                    {{ hFilter.form.number_filter_lte | as_crispy_field }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    {{ hFilter.form.lengthOfRooms_filter_gte | as_crispy_field }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    {{ hFilter.form.lengthOfRooms_filter_lte | as_crispy_field }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    {{ hFilter.form.area_filter_gte | as_crispy_field }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    {{ hFilter.form.area_filter_lte | as_crispy_field }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div id="div_id_typeOfHouse" class="form-group">
                        <label for="id_typeOfHouse" class="">
                            {% trans "TypeOfHouse" %}
                        </label>
                        <div class="">
                            <select name="typeOfHouse" class="select form-control" id="id_typeOfHouse">
                                <option value="" selected="">---------</option>
                                {% if hometypes %}
                                    {% for object in hometypes %}
                                        <option value="{{object.id}}">{{object}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div id="div_id_priceType" class="form-group">
                        <label for="id_priceType" class="">
                            {% trans "Price type" %}
                        </label>
                        <div class="">
                            <select name="priceType" class="select form-control" id="id_priceType">
                                <option value="" selected="">---------</option>
                                {% if priceType %}
                                    {% for object in priceType %}
                                        <option value="{{object.id}}">{{object}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary rounded mt-3">{% trans "Filter" %}</button>
                </div>
            </div>

        </form>
    </div>
</div>
<section class="ftco-section bg-light">
    <div class="container-xl">
        <div class="row">
            {% if homes %}
			{% for object in homes %}
			<div class="col-lg-3 col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
				<div class="property-wrap">
					<a href="{% url 'exploreDetail' object.id %}" class="img img-property" style="background-image:
                                url('{{object.image.url}}');">
						<p class="price"><span class="orig-price">{{object.priceType}} {{object.price}}</span></p>
					</a>
					<div class="text">

						<h3><a href="{% url 'exploreDetail' object.id %}">{{object.title}}</a></h3>
						<p>
							{% if object.description|length < 110 %}
								{{object.description }}
							{% else %}
								{{object.description | slice:":100" }}...

							{% endif %}

						</p>
						<p>
						<span class="location">
							<i class="ion-ios-pin"></i>
							{{object.address}}
							<span class="{{object.rentOrSale|slice:'0:4'| lower}}">{{object.rentOrSale}}</span></span>

                    </div>
				</div>
			</div>
			{% endfor %}
            <div class="container">
    <nav aria-label="Page navigation example" class="text-center">
    <ul class="pagination">
    {% if homes.has_previous %}
        <li class="page-item">
            <a class="page-link text-success" href="?page={{ homes.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

    {% endif %}
    {% for object in homes.number|pa:request %}

    {% if object == homes.number %}
    <li class="page-item disabled">
        <a class="page-link bg-success text-white" href="?page={{object}}">{{ object }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link text-success" href="?page={{object}}">{{ object }}</a>
    </li>
    {% endif %}

    {% endfor %}

      {% if homes.has_next %}
        <li class="page-item">
            <a class="page-link text-success" href="?page={{ posts.next_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    {% endif %}
    </ul>
  </nav>
</div>
			{% else %}
            <div class='container'>
			    <div class="alert alert-danger w-100">{% trans "Not found homes" %}</div>
			</div>
            {% endif %}

        </div>


    </div>
</section>

{% endblock %}