{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div style="padding-top: 70px; padding-bottom: 70px; background-image: url('/static/images/bg_4.jpg');background-repeat: no-repeat; background-size: cover;">
  <div class="container">
  <div class="p-5 rounded" style="background-color: #dfdfdf">
    <h1>{% trans "Change password" %}</h1>
    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}

      <a href="{% url 'profile' %}" class="my-3  btn btn-outline-success">{% trans "Cancel" %}</a>

      <button class="my-4 btn btn-primary">{% trans "Submit" %}</button>




    </form>
  </div>
</div>
</div>

{% endblock %}